<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>868619010303-g974fgf1vmlqko3vp3t9qgrincp74nvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868619010303-g974fgf1vmlqko3vp3t9qgrincp74nvb</string>
	<key>API_KEY</key>
	<string>AIzaSyA4JhTpj3BZMcfjTxBZ5Gq1y06AsKOPUow</string>
	<key>GCM_SENDER_ID</key>
	<string>868619010303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YourIdentifier.QuickChat</string>
	<key>PROJECT_ID</key>
	<string>chattingroom-50550</string>
	<key>STORAGE_BUCKET</key>
	<string>chattingroom-50550.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:868619010303:ios:b1f6faf1dcd4d507</string>
	<key>DATABASE_URL</key>
	<string>https://chattingroom-50550.firebaseio.com</string>
</dict>
</plist>